 
<!doctype html>
@*<html id="body_img" class="no-js">*@
<html @*class="no-js" id="body_img" dir="rtl" lang="ar"*@>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/NewStyle/img/logo.png">
    <title>EslamMamdouh</title>




    <link rel="stylesheet" href="~/NewStyle/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/NewStyle/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/NewStyle/css/adminpro-custon-icon.css">
    <link rel="stylesheet" href="~/NewStyle/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/NewStyle/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/NewStyle/css/animate.css">
    <link rel="stylesheet" href="~/NewStyle/css/summernote.css">
    <link rel="stylesheet" href="~/NewStyle/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="~/NewStyle/css/data-table/bootstrap-editable.css">
    <link rel="stylesheet" href="~/NewStyle/css/c3.min.css">
    <link rel="stylesheet" href="~/NewStyle/style.css">
    <link rel="stylesheet" href="~/NewStyle/fontawesome/css/all.min.css">
    <link href="~/NewStyle/animate.min.css" rel="stylesheet" />
    <link href="~/NewStyle/LodBut/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/NewStyle/css/responsive.css">



    @*<script src="~/NewStyle/js/vendor/modernizr-2.8.3.min.js"></script>*@
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
    @*<script src="~/NewStyle/js/vendor/jquery-1.11.3.min.js"></script>*@
    @*<script src="~/NewStyle/js/data-table/bootstrap-table.js"></script>*@
    @*<script src="~/NewStyle/js/data-table/tableExport.js"></script>*@
    @*<script src="~/NewStyle/js/data-table/data-table-active.js"></script>*@
    @*<script src="~/NewStyle/js/data-table/bootstrap-table-resizable.js"></script>*@
    @*<script src="~/NewStyle/js/data-table/colResizable-1.5.source.js"></script>*@
    @*<script src="~/NewStyle/js/data-table/bootstrap-table-export.js"></script>*@
    @*<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>*@

    @*<script src="~/ClientApp/App.js"></script>*@
    @*<script src="~/ClientApp/EslamGrid.js"></script>*@


    @Scripts.Render("~/Bundles/AppScript1")
    @Scripts.Render("~/Bundles/AppScript2")
    @*@Scripts.Render("~/Bundles/AppStyle1")*@




    <style>

        .display_none {
            display: none;
        }

        .text_Mandatory {
            background-color: #ff00009e
        }

        #SearchBox {
            z-index: 1041;
            position: fixed;
            padding-top: 19px;
            background-color: white;
            border-radius: 15px;
            -moz-box-shadow: black 5px 4px 18px 0px;
            -webkit-box-shadow: black 5px 4px 18px 0px;
            box-shadow: black 5px 4px 18px 0px;
        }

        .jsgrid-grid-body {
            overflow-y: hidden !important;
        }

        .back {
            font-size: 35px !important;
            color: #d70000;
        }

        .backposition {
            position: absolute;
            left: 1%;
            top: 2%;
            z-index: 99999 !important;
        }

        .back:hover {
            color: #008f8f;
        }

        .back:active {
            color: #008f8f;
        }


        .Refresh {
            font-size: 35px !important;
            color: #89dc00;
        }


            .Refresh:hover {
                color: #008f8f;
            }

            .Refresh:active {
                color: #008f8f;
            }
    </style>



    <style>

        textarea {
            width: 100%;
            font-weight: bold;
        }

        .active {
            /*background-color: white;*/
            font-weight: bold;
        }

        .actTab {
            background-color: white !important;
            font-weight: bold;
            border-radius: 19px 19px 0 0;
            cursor: pointer;
        }

        .nav-item {
            cursor: pointer !important;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }


        .Add {
            font-size: 23px !important;
            color: wheat;
        }

        .display_none {
            display: none !important;
        }

        .backposition {
            position: absolute;
            left: 0% !important;
            top: 0% !important;
            z-index: 99999 !important;
        }

        .Refreshposition {
            position: absolute;
            right: 1%;
            /*top: 12.5%;*/
            z-index: 99999 !important;
        }
    </style>
    <link href="~/NewStyle/css/Taps.css" rel="stylesheet" />



    <style>

        textarea {
            width: 100%;
            font-weight: bold;
        }

        .active {
            /*background-color: white;*/
            font-weight: bold;
        }

        .actTab {
            background-color: #ebebeb !important;
            font-weight: bold;
            border-radius: 19px 19px 0 0;
            cursor: pointer;
        }

        .nav-item {
            cursor: pointer !important;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }


        .Add {
            font-size: 23px !important;
            color: wheat;
        }

        .display_none {
            display: none !important;
        }

        .backposition {
            position: absolute;
            left: 0% !important;
            top: 0% !important;
            z-index: 99999 !important;
        }


        .Respon_width {
            width: 30%;
            font-size: 4.6vw;
        }


        html, body.materialdesign {
            background: #ebebeb;
        }


        a {
            color: #02a9a9 !important;
        }
    </style>

    <link href="~/NewStyle/css/Taps.css" rel="stylesheet" />


    <link href="~/Scripts/IgGrid/infragistics.css" rel="stylesheet" />
    <link href="~/Scripts/IgGrid/theme.css" rel="stylesheet" />
    <link href="~/Scripts/jsgrid/jsgrid-theme.css" rel="stylesheet" />
    <link href="~/Scripts/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/jsgrid/jsgrid.css" rel="stylesheet" />
    <link href="~/Scripts/jsgrid/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Scripts/jsgrid/jsgrid-theme.css" rel="stylesheet" />
    <link href="~/Scripts/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/jsgrid/jsgrid.css" rel="stylesheet" />
    <link href="~/Scripts/jsgrid/jsgrid.min.css" rel="stylesheet" />



    <style>

        .des {
            width: 22% !important;
        }

        .uom {
            width: 11% !important;
        }

        .Zero {
            width: 0% !important;
        }

        .Price {
            width: 9% !important;
        }

        .odd {
            background-color: lightcoral;
            font-weight: bold;
            font-size: 16px;
            color: black;
        }

        .even {
            background-color: #fff2ce;
            font-weight: bold;
            font-size: 16px;
            color: black;
        }

        tr {
            background-color: #9ecbd6bf;
            color: black;
        }

        .px-5 {
            padding-left: 3rem !important;
            padding-right: 3rem !important;
        }

        .disabledDiv {
            pointer-events: none;
            opacity: 0.4;
        }
    </style>

    <style>
        .display_hidden {
            display: none !important;
        }

        .Text_right {
            text-align: left;
            font-weight: bold;
            color: #ffffff;
            font-size: 20px;
        }

        .Text_left {
            text-align: left;
        }

        .Search_grid {
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        .Delet {
            width: 0.1% !important;
        }

        .Ser {
            width: 0.7% !important;
        }

        .Decs {
            width: 5% !important;
        }

        .Rem {
            width: 10% !important;
        }

        .Url {
            width: 5% !important;
        }

        .Ope {
            width: 2% !important;
        }

        .wid {
            width: 417px !important;
        }


        ._Name_file {
            width: 189px !important;
        }



        /***********************************************************/

        .Balance {
            background-color: #459a8f;
            color: white;
            cursor: pointer;
            padding: 8px;
            width: 100%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 15px;
        }

            .active_Balance, .Balance:hover {
                /*background-color: #276e31;*/
                background-color: #000000;
            }

            .Balance:after {
                content: '\002B';
                color: white;
                font-weight: bold;
                float: right;
                margin-left: 5px; 
            }

        .active_Balance:after {
            content: "\2212";
        }


        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #000000;
            border-radius: 0px 0px 30px 30px;
            color: antiquewhite;
            margin-bottom: 9px;
        }

        body { 
        }

        .toast-container {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;
        }

        .toast {
            background-color: #333;
            color: #fff;
            padding: 12px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

    </style>

</head>

<body id="main-menu" class=" materialdesign mini-navbar">
    <div class="card-body">
    </div>
    <input type="hidden" id="GetActionUrl" name="name" value="@Url.Action("GetActionUrl","ClientTools")" />
    <input type="hidden" id="GetAPIUrl" name="name" value="@System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"]" />
    <input type="hidden" id="GetPass" name="name" value="" />


    <a id="layout_Back" @*onclick="history.back()"*@ class="backposition animate__animated animate__backInDown" data-toggle="tab" title="Back Page" href="">
        <i class="fa-solid fa-reply-all fa-fade back" style="font-size: 40px;"></i>
    </a>

    <a id="layout_Refresh" @*onclick="location.reload()"*@ class="Refreshposition animate__animated animate__backInDown" data-toggle="tab" title="Refresh" href="">
        <i class="fa-solid fa-clock-rotate-left fa-beat Refresh"></i>
    </a>


    <div id="cont" class="divcont">
        @RenderBody()
    </div>



    <div class="modal fade messagealert" id="MessageBoxDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="MessageBoxTitle">delete</h4>
                </div>
                <div class="modal-body" style="max-height:200px; overflow:auto;">
                    <div class="col-xs-7"> <h3 id="MessageBoxMessage">Are you sure you want to delete?</h3></div>
                    <div class="col-xs-5 text-center">
                        <i class="glyphicon btn-danger"></i>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="MessageBoxOk" class="btn btn-danger">comfirm</button>
                    <button type="button" id="MessageBoxCancel" class="btn btn-warning" data-dismiss="modal">إلغاء</button>
                </div>
            </div>
        </div>
    </div>
    <div class="help-pop modal fade in" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">helpe</h4>
                </div>
                <div class="modal-body content content-8" id="modalHelpRep">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>
     
    <div class="toast-container" id="toastContainer"></div>

    <script>
     
    </script>

    <script src="~/ClientApp/Quotation/AllPages.js"></script>
</body>
</html>